[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]
numpy = "*"
pandas = "*"
unittest = "*"
random = "*"
acme = "*"
acme-test = "*"
acme-report = "*"

[requires]
python_version = "3.7"
